body{
font-family:Arial, Helvetica, sans-serif;
width: 960px;
margin:auto;
padding-left: 3em;
}

form{
    display: block;
    margin-top: 0em;
}
h1
{
    font-size: 15pt;
}

h2
{
    font-size: 12pt;
}

button {
    width: 100px;
    height: 30px;
    background-color: #4CA7FF;
    color: white;
    font-weight: bold;
    border: none;
}

input 
{
    height: 25px;
    border: 1px solid #4CA7FF;
    padding: 5px;
}
input[type="button"] {
    float: right;
    margin: 10px 465px 0 0;
    width: 90px;
    height: 30px;
    background-color: #4CA7FF;
    color: white;
    font-weight: bold;
    border: 1px solid grey;
}
tr{
    text-align: center;
    width: 80px;
   
}  
td {
    padding: 0 10px;
    width: 80px;
}  
tr td:last-of-type {
    text-align: center;
}


#Add_Emp td
{
padding-right: 3em;
}

#display_employees td, th 
{
    border: 1px solid white;
    width: 9em;
    text-align: center;
}

#display_employees th
{
    background: rgb(55, 55, 126);
    color: white;
}

#display_employees tr:nth-child(even)
{
    background: rgb(191, 191, 211);
}
#display_employees tr:nth-child(odd)
{
    background: rgb(239, 239, 245);
}
#name_e, #title_e, #ext_e
{
    color: red;
}
